/* ContactSection.css */
.contact-container {
  padding: 2em;
  background-color: #FAF3E0;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-top: 2px solid #8B0000; /* Adding Deep Red border-top */
}

.contact-content, .contact-me-form {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  color: #8B0000;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.contact-info {
  list-style-type: none;
  font-size: 1.2em;
  color: #333;
  margin-top: 1em;
}

.contact-option-header {
  font-size: 1.8em;
  color: #4E342E; /* Dark Brown */
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}


.contact-info li {
  margin-bottom: 0.5em;
}

input, textarea {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

button {
  padding: 0.5em 1em;
  background-color: #8B0000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6a0000;
}
