.contact-container {
    padding: 2em;
    background-color: #FAF3E0; /* Creamy background for a warm feel */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }
  
  .contact-content {
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  
  .contact-content h1 {
    font-size: 2.5em;
    color: #8B0000; /* Deep red to match the Halwa color */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .contact-info {
    list-style-type: none; /* No bullets */
    font-size: 1.2em;
    color: #333; /* Dark Gray */
    margin-top: 1em;
  }
  
  .contact-info li {
    margin-bottom: 0.5em;
  }
  