/* General resets and page setup */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
  font-family: 'Arial', sans-serif;
}

  /* Hero section container */
  .hero-container {
    position: relative;
    text-align: center;
    color: #FAFAFA;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
    filter: brightness(65%);
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #8B0000;
    border-radius: 15px;
    padding: 20px;
  }
  
  .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #FFD700;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-top: 15px;
    color: #FAFAFA;
  }
  
  @media only screen and (max-width: 768px) {
    .hero-content h1 {
      font-size: 2em;
    }
    .hero-content p {
      font-size: 1em;
    }
  }